body {
  margin: 0;
  background-color: #FFF5EC;

}
header {
  background-color: #FFF5EC;
  padding: 15px;
}
header ul {
  float: right;
  color: white;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color: #EBEBEB;
  padding: 100px 15px;
}
.content {
  max-width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  padding: 15px;
  background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
  background-color: #FFF5EC;
  padding: 5px;
  color: #e87979;
  font-family: "Dela Gothic One", cursive;
  font-size: 8pt;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;

}
.flex-grid {
  display: flex;
  text-align: left;
  padding: 5px;
  
}
.col {
  flex: 1;
  font-family: 'Dela Gothic One', cursive;
  text-align: left;
}
.card {
  background-color: #FFF5EC;
  height: 400px;
  color:#e87979;
  max-height: 100%;
  min-width: 200px;
  justify-content: space-between;
  margin-left: 10px;
}

.sideMenu {
  background-color: #e87979;
  height: 600px;
  color: #FFF5EC;
  padding: 10px;
}

@media only screen and (max-width: 600){
  flex-direction: column;
  width: 100%;
}